.notice-card {
    border-radius: .8rem;
    background-color: rgb(255, 250, 245);
    padding: .8rem;
}

.notice-card .description {
    margin-bottom: 2rem;
    font-weight: lighter;
}

#index-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-title h1 {
    font-size: 5rem;
    font-weight: bolder;
    line-height: 4rem;
    margin-top: 1rem;
}

#index-title p {
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: lighter;
    font-style: italic;
    margin: .2rem auto;
}

.login-card {
    background-image: radial-gradient(closest-side, rgb(249, 249, 183), white);
    width : 35rem;
    height : 29rem;
    border : none;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
}
.register-card {
    background-image: radial-gradient(closest-side, rgb(191, 226, 191), white);
    width : 35rem;
    height : 39rem;
    border : none;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(178, 175, 175);
    opacity: 1; /* Firefox */
  }
  