.notice-card {
    border-radius: .8rem;
    background-color: rgb(255, 250, 245);
    padding: .8rem;
}

.notice-card .description {
    margin-bottom: 2rem;
    font-weight: lighter;
}

#index-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-title h1 {
    font-size: 5rem;
    font-weight: bolder;
    line-height: 4rem;
    margin-top: 1rem;
}

#index-title p {
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: lighter;
    font-style: italic;
    margin: .2rem auto;
}

.login-card {
    background-image: radial-gradient(closest-side, rgb(249, 249, 183), white);
    width : 35rem;
    height : 29rem;
    border : none;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
}

.register-card {
    background-image: radial-gradient(closest-side, rgb(191, 226, 191), white);
    width : 35rem;
    height : 39rem;
    border : none;
    align-items: center;
    padding-top: 2rem;
    margin: 0 auto;
}

.main_page-card1{
    width : 65rem;
    border : none;
    align-items: left;
    padding-top: 4rem;
}

.main_page-card2{
    padding-top: 8rem;
    padding-left: 0rem;
    text-align: center;
    background-image: radial-gradient(closest-side, rgb(60, 199, 224), rgb(255, 255, 255));
}

.about-card{
    padding-top: 4rem;
    width : 40rem;
    text-align: left;
}

.demo-card{
    /* background-color: skyblue ; */
    padding-top: 4rem;
    border : none;
    text-align: center;
    align-items: center;
    margin: 0 auto;

}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(178, 175, 175);
    opacity: 1; /* Firefox */
  }
  